interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.bus-data.dft.gov.uk/api/v1/datafeed/
  response:
    body:
      string: <Siri xmlns="http://www.siri.org.uk/siri" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.siri.org.uk/siri http://www.siri.org.uk/schema/2.0/xsd/siri.xsd" version="2.0"><ServiceDelivery><ResponseTimestamp>2020-07-24T14:14:46.261274+00:00</ResponseTimestamp><ProducerRef>ItoWorld</ProducerRef><VehicleMonitoringDelivery><ResponseTimestamp>2020-07-24T14:14:46.261274+00:00</ResponseTimestamp><RequestMessageRef>6c2b429f-bb9d-43b8-8610-cf40fd666fde</RequestMessageRef><ValidUntil>2020-07-24T14:19:46.261274+00:00</ValidUntil><ShortestPossibleCycle>PT5S</ShortestPossibleCycle><VehicleActivity><RecordedAtTime>2020-06-12T17:02:09+00:00</RecordedAtTime><ItemIdentifier>071f2d89-6857-4011-ab4f-bcb2848a4e4d</ItemIdentifier><ValidUntilTime>2020-07-24T14:19:46.261412</ValidUntilTime><MonitoredVehicleJourney><LineRef>X91</LineRef><DirectionRef>INBOUND</DirectionRef><PublishedLineName>X91</PublishedLineName><OperatorRef>SCNH</OperatorRef><OriginRef>049003030908</OriginRef><OriginName>Food Centre</OriginName><DestinationRef>300000316CY</DestinationRef><DestinationName>Cach Yard Farm</DestinationName><OriginAimedDepartureTime>2020-06-12T17:00:00+00:00</OriginAimedDepartureTime><VehicleLocation><Longitude>-0.754812</Longitude><Latitude>52.0401611</Latitude></VehicleLocation><VehicleJourneyRef>60</VehicleJourneyRef><VehicleRef>SCNH-28627</VehicleRef></MonitoredVehicleJourney></VehicleActivity><VehicleActivity><RecordedAtTime>2020-07-17T08:40:07+00:00</RecordedAtTime><ItemIdentifier>f16f000e-eee6-44b7-b1fe-db1d014000b3</ItemIdentifier><ValidUntilTime>2020-07-24T14:19:46.261745</ValidUntilTime><MonitoredVehicleJourney><LineRef>8</LineRef><DirectionRef>inbound</DirectionRef><PublishedLineName>8</PublishedLineName><OperatorRef>GEA</OperatorRef><DestinationRef>2900N12218</DestinationRef><VehicleLocation><Longitude>0.967245</Longitude><Latitude>52.68032</Latitude></VehicleLocation><BlockRef>600065</BlockRef><VehicleJourneyRef>17</VehicleJourneyRef><VehicleRef>617</VehicleRef></MonitoredVehicleJourney></VehicleActivity><VehicleActivity><RecordedAtTime>2020-07-06T17:02:42+00:00</RecordedAtTime><ItemIdentifier>98741711-9fcc-4ac9-8470-5f54389fd61b</ItemIdentifier><ValidUntilTime>2020-07-24T14:19:46.261906</ValidUntilTime><MonitoredVehicleJourney><LineRef>97</LineRef><DirectionRef>INBOUND</DirectionRef><PublishedLineName>97</PublishedLineName><OperatorRef>ASC</OperatorRef><OriginRef>021[...]
